<div class="title">
    <div class="row">
        <div class="title">
            <div class="col-md-12">
                <h1 class="titleText">T.U.N.E.: Totally Underrated Noise Emitter</h1>
            </div>
        </div>
    </div>
</div>
  <div class="roomTitle">
    <h2 id="roomTitle">Chat Room Title Here</h2>
  </div>
        <div class="nowplaying">
            <h3 id="clock">--:--:--</h3>
            <h3>Now playing: </h3>
            <h3 id="room">Clients in room:</h3>
            <h3 id="currentSong">No song playing</h3>
        </div>

            <label for="sel1" class="listLabel">Select song: </label>
            <select class="songList" id="sel1"></select>

            <button class="btn btn-success play-button" type="button" style="background: #4CAF50; color: white">PLAY</button>
            <button class="btn btn-danger stop-button" type="button" style="background: #F44336; color: white">STOP</button>
            <button class="btn btn-warning pause-button" type="button" style="background: #FFC107; color: white">PAUSE</button>


<div id="pianoCenter">
    <div id="piano">
        <div class="key">
            <div class="keycap">C4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">C#4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">D4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">D#4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">E4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">F4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">F#4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">G4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">G#4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">A4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">A#4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">B4</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">C5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">C#5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">D5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">D#5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">E5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">F5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">F#5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">G5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">G#5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">A5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key sharp">
            <div class="keycap">A#5</div>
            <div class="keyshaft"></div>
        </div>
        <div class="key">
            <div class="keycap">B5</div>
            <div class="keyshaft"></div>
        </div>
    </div>
</div>

            <div id="center"></div>


            <audio id="player">
                <source id="mp3Source" type="audio/mp3" src="" />
            </audio>
